doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="description" content="")
        meta(name="keywords" content="")

        title

        //- link(rel="stylesheet", href="css/style.css")
        //- script(src="js/main.js")

    body
